mixin ad
  a.ad.leaderboard(class=attributes.class href='http://www.malinthemornings.com/')
    img(src="/img/leaderboard.jpg")
  a.ad.medium-rectangle(class=attributes.class href='http://www.malinthemornings.com/')
    img(src="/img/medium-rectangle.jpg")