meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")

title Mal in the Mornings

link(rel="stylesheet", type='text/css', href="https://fonts.googleapis.com/css?family=Playfair+Display")
link(rel='stylesheet', type='text/css', href="css/styles.css")